name: SCFusion Installer
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Instalar NSIS
      run: choco install nsis --yes
      
    - name: Crear instalador
      shell: cmd
      run: |
        echo Name "SCFusion" > sc.nsi
        echo OutFile "SCFusion.exe" >> sc.nsi
        echo InstallDir "$PROGRAMFILES\SCFusion" >> sc.nsi
        echo Section >> sc.nsi
        echo SetOutPath "$INSTDIR" >> sc.nsi
        echo File "README.md" >> sc.nsi
        echo File "Super Fusion.sln" >> sc.nsi
        echo File /r "main" >> sc.nsi
        echo File /r "Installer" >> sc.nsi
        echo CreateShortCut "$DESKTOP\SCFusion.lnk" "$INSTDIR\README.md" >> sc.nsi
        echo SectionEnd >> sc.nsi
        
    - name: Compilar NSIS (PATH fijo)
      shell: cmd
      run: |
        "C:\Program Files (x86)\NSIS\makensis.exe" sc.nsi
        
    - uses: actions/upload-artifact@v4
      with:
        name: SCFusion-Installer
        path: SCFusion.exe
