name: Build SCFusion
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: List files
      run: dir
    
    - name: Find and build solutions
      run: |
        dir *.sln /s
        for %%f in (*.sln) do msbuild "%%f" /p:Configuration=Release /p:Platform="Any CPU"
    
    - name: Instalar NSIS
      run: choco install nsis --yes
    
    - name: Crear NSIS
      run: |
        echo Name "SCFusion" > sc.nsi
        echo OutFile "SCFusion.exe" >> sc.nsi
        echo InstallDir "$PROGRAMFILES\SCFusion" >> sc.nsi
        echo Section >> sc.nsi
        echo SetOutPath "$INSTDIR" >> sc.nsi
        echo File /r "bin\Release\*" >> sc.nsi
        echo File /r "bin\x64\Release\*" >> sc.nsi
        echo CreateShortCut "$DESKTOP\SCFusion.lnk" "$INSTDIR\*.exe" >> sc.nsi
        echo SectionEnd >> sc.nsi
    
    - name: Compilar
      run: makensis sc.nsi
      
    - uses: actions/upload-artifact@v4
      with:
        name: SCFusion-Installer
        path: SCFusion.exe
