name: SCFusion Installer
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Buscar binarios
      shell: cmd
      run: |
        dir /s *.exe
        dir /s bin
        
    - name: Instalar NSIS
      run: choco install nsis --yes
      
    - name: Crear instalador
      shell: cmd
      run: |
        echo Name "SCFusion" > sc.nsi
        echo OutFile "SCFusion.exe" >> sc.nsi
        echo InstallDir "$PROGRAMFILES\SCFusion" >> sc.nsi
        echo Section >> sc.nsi
        echo SetOutPath "$INSTDIR" >> sc.nsi
        echo File /r "main\Release\*" >> sc.nsi
        echo File /r "bin\*" >> sc.nsi
        echo File /r "Installer\*" >> sc.nsi
        echo CreateShortCut "$DESKTOP\SCFusion.lnk" "$INSTDIR\*.exe" >> sc.nsi
        echo SectionEnd >> sc.nsi
        
    - name: Compilar
      shell: cmd
      run: makensis sc.nsi
      
    - uses: actions/upload-artifact@v4
      with:
        name: SCFusion-Installer
        path: SCFusion.exe
