name: Build SCFusion
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2
    - name: Build
      run: msbuild SCFfusion.sln /p:Configuration=Release
    - name: Create NSIS
      run: |
        echo Name "SCFusion" > sc.nsi
        echo OutFile "SCFusion.exe" >> sc.nsi
        echo InstallDir "$PROGRAMFILES\SCFusion" >> sc.nsi
        echo Section > sc.nsi
        echo SetOutPath "$INSTDIR" >> sc.nsi
        echo File /r "bin\Release\*" >> sc.nsi
        echo CreateShortCut "$DESKTOP\SCFusion.lnk" "$INSTDIR\SCFusion.exe" >> sc.nsi
        echo SectionEnd >> sc.nsi
    - uses: ChrisHemsley/nsis@v1
      with:
        nsi-path: sc.nsi
    - uses: actions/upload-artifact@v4
      with:
        name: SCFusion-Installer
        path: SCFusion.exe
