name: SCFusion Installer
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: List ALL files first
      shell: cmd
      run: dir /s /b
      
    - name: Instalar NSIS
      run: choco install nsis --yes
      
    - name: Crear instalador FORZADO
      shell: cmd
      run: |
        echo Name "SCFusion Source" > sc.nsi
        echo OutFile "SCFusion-Source.exe" >> sc.nsi
        echo InstallDir "$PROGRAMFILES\SCFusion" >> sc.nsi
        echo Section >> sc.nsi
        echo SetOutPath "$INSTDIR" >> sc.nsi
        echo File "Super Fusion.sln" >> sc.nsi
        echo File "README.md" >> sc.nsi
        echo File /r "main\*" >> sc.nsi
        echo File /r "Installer\*" >> sc.nsi
        echo CreateDirectory "$SMPROGRAMS\SCFusion" >> sc.nsi
        echo CreateShortCut "$SMPROGRAMS\SCFusion\Build Instructions.lnk" "$INSTDIR\README.md" >> sc.nsi
        echo SectionEnd >> sc.nsi
        
    - name: Compilar
      shell: cmd
      run: "C:\Program Files (x86)\NSIS\makensis.exe" sc.nsi
      
    - uses: actions/upload-artifact@v4
      with:
        name: SCFusion-Source
        path: SCFusion-Source.exe
